html {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.book-table {
    width: 100%;
    border: 1px solid black;
    margin-bottom: 30px;
}

.book-table-head th {
    font-weight: 700;
    font-size: 24px;
}

.book-table-body {
    text-align: center;
    padding: 10px;
}

.book-table-body:hover {
    background-color: rgb(231, 231, 231);
}

.book-table td {
    padding: 10px 20px;
}

.add-book-lbl {
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
}

.block {
    display: block;
    margin-bottom: 10px;
}

.btn {
    border: medium none;
    border-spacing: 0;
    padding: 15px 30px;
    cursor: pointer;
    background-color: #008a00;
    color: white;
}

.btn:hover {
    background-color: #01b001;
}