<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <title>Booking</title>
</head>
<body>
    <div class="container">
        <form th:method="POST" id="add-book" th:action="@{/add}" th:object="${book}">
            <label for="title" class="add-book-lbl">Book Title</label>
            <input type="text" th:field="*{title}" id="title">

            <label for="description" class="add-book-lbl">Book Description</label>
            <input type="text" th:field="*{description}" id="description">

            <label for="price" class="add-book-lbl">Book Price</label>
            <input type="number" th:field="*{price}" id="price">


            <div class="block">
                <input type="checkbox" th:field="*{tags}" th:value="mystery">
                <label for="tags1">Mystery</label>
            </div>


            <div class="block">
                <input type="checkbox" th:field="*{tags}" th:value="detective">
                <label for="tags2">Detective</label>
            </div>

            <div class="block">
                <input type="checkbox" th:field="*{tags}" th:value="drama">
                <label for="tags3">Drama</label>
            </div>

            <div class="block">
                <input type="checkbox" th:field="*{tags}" th:value="thriller">
                <label for="tags4">Thriller</label>
            </div>

            <div class="block">
                <input type="checkbox" th:field="*{tags}" th:value="history">
                <label for="tags5">History</label>
            </div>


            <input type="submit" value="Submit" class="btn">
        </form>
    </div>
</body>
</html>