<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <h1>Hello World</h1>
        <table class="book-table">
            <tr class="book-table-head">
                <th>id</th>
                <th>name</th>
                <th>description</th>
                <th>price</th>
                <th>type</th>
                <th></th>
            </tr>
            <tbody th:each="book : ${bookList}">
            <tr class="book-table-body">
                <td th:text="${book.getId()}"></td>
                <td th:text="${book.getTitle()}"></td>
                <td th:text="${book.getDescription()}"></td>
                <td><span th:text="${book.getPrice()}"></span>$</td>
                <td>
                    <span th:if='${book.getType() == "r"}'>Regular Book</span>
                    <span th:if='${book.getType() == "a"}'>Audio Book</span>
                    <span th:if='${book.getType() == "e"}'>Electronic Book</span>
                </td>
                <td>
                    <form action=""><input type="submit" value="buy" class="book-table-body-btn"></form>
                </td>
            </tr>
            </tbody>
        </table>

        <form th:action="@{/add}" th:method="GET">
            <input type="submit" value="Add Book" class="btn">
        </form>
    </div>
</body>
</html>