<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Bookshop</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">

</head>
<body>
    <div class="container">
        <h1>Online Bookshop</h1>
        <table class="book-table">
            <tr class="book-table-head">
                <th>id</th>
                <th>name</th>
                <th>description</th>
                <th>price</th>
                <th>tags</th>
                <th></th>
            </tr>
            <tbody th:each="book : ${bookList}">
            <tr class="book-table-body">
                <td th:text="${book.getId()}"></td>
                <td th:text="${book.getTitle()}"></td>
                <td th:text="${book.getDescription()}"></td>
                <td>
                    <span th:text="${book.getStrategy()} ? ${book.getStrategy().applyDiscount(book.getPrice())} : ${book.getPrice()}"></span>$
                </td>
                <td th:text="${book.getTags()}"></td>
                <td>
                    <form th:action="@{/apply-discount/{id}/{discount} (discount='holiday', id=${book.getId()})}">
                        <input type="submit" value="Holiday" class="book-table-body-btn btn">
                    </form>
                    <form th:action="@{/apply-discount/{id}/{discount} (discount='blackfriday', id=${book.getId()})}">
                        <input type="submit" value="BlackFriday" class="book-table-body-btn btn">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="flex">
            <div class="btn-form">
                <form th:action="@{/add}" th:method="GET" >
                    <input type="submit" value="Add Book" class="btn">
                </form>
            </div>

            <div class="btn-form">
                <form th:action="@{/add-obs}" th:method="GET">
                    <input type="submit" value="Add Observer" class="btn">
                </form>
            </div>

        </div>
    </div>
</body>
</html>